.Input{
    width: 100%;
    padding: 10px;
}

.Label{
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 253, 246);

}

.Element{
    font-size: 14px;
    background: #ccc;
    width: 80%;
    padding : 2px;
}

.Invalid{
    border : 1px solid red;
    background: rgb(243, 163, 155);
}